@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Tangsa:wght@400..700&display=swap');

* {
    font-family: "Noto Sans Tangsa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    user-select: none;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

html {
    scrollbar-color: rgb(109, 107, 110) transparent;
}

